{% block subject %}
    N'oubliez pas de valider votre panier
{% endblock %}

{% block body %}
    <p>Votre panier est en attente ! Si vous ne le validez pas, comment on va payer notre factures ?!!!</p>
{% endblock %}
